* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    max-width: 100vw;
    height: 100vh;
    background: #fffdcb;
    /* border: 2px solid red; */
    display: flex;
  }
  
  .maincontainer {
    width: 100vw;
    height: 100vh;
    /* background: #FFFDCB; */
    /* border: 2px solid red; */
    display: flex;
  }
  
  .leftside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid black; */
    max-width: 500px;
    margin: 10px;
    height: 100vh;
    margin: 0px 50px;
  }
  
  .leftside .heading {
    width: 244px;
    height: 48px;
    font-weight: 600;
    font-size: 36px;
    margin: 10px;
  }
  
  .leftside .description {
    width: 300px;
    height: 100px;
    margin: 10px;
    padding-top: 10px;
    font-weight: 300;
  }
  
  .leftside .list {
    line-height: 38px;
  }
  
  .leftside .hireme {
    background: #ccc74c;
    font-size: larger;
    color: white;
    width: 200px;
    height: 50px;
    margin: 10px;
    word-spacing: 3px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  }
  
  .leftside .hireme:hover {
    background-color: #b1ac19;
  }
  
  /* right side container starts here  */
  
  .rightcontainer {
    display: flex;
    position: relative;
    left: 200px;
    width: 630px;
    min-height: 500px;
    /* border: 2px solid blue; */
    top: 100px;
    background-color: white;
  }
  
  .detailsblock {
    /* border: 2px solid purple; */
    width: 177px;
    height: 1050px;
    top: 100px;
    left: 200px;
    position: relative;
    background: #072a4c;
  }
  
  .downloadbtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10px 24px;
    gap: 10px;
  
    position: absolute;
    width: 224px;
    height: 53px;
    left: 900px;
    top: 33px;
    color: white;
    font-size: large;
    font-weight: 600;
    background: #ccc74c;
    border-radius: 8px;
    border: none;
  }
  
  .downloadbtn:hover {
    background-color: #b1ac19;
  }
  
  .rightcontainer .block {
    margin: 5px;
    position: relative;
    left: 30px;
    top: 25px;
    width: 445px;
    height: 109px;
    /* border: 2px solid green; */
  }
  
  div .imgblock {
    width: 126px;
    height: 106px;
    padding: 3px;
    /* border: 2px solid black; */
  }
  
  .imgblock img {
    bottom: 100px;
    width: 116px;
    height: 100px;
    border-radius: 50%;
    position: relative;
  }
  
  .block1 {
    position: relative;
    left: 124px;
    width: 313px;
    height: 100px;
    /* border: 2px solid blue; */
  }
  
  /* description of resume starts here  */
  
  div .profile {
    margin-top: 10px;
    /* border: 2px solid rgb(255, 132, 0); */
    width: 545px;
    height: 75px;
  }
  
  /* expereince of resume starts here  */
  
  div .expereince {
    margin-top: 20px;
    /* border: 2px solid rgb(255, 13, 0); */
    width: 545px;
    height: 265px;
  }
  
  .spn {
    font-size: 10px;
    padding-bottom: 10px;
  }
  
  /* education info starts here  */
  
  div .education {
    margin-top: 20px;
    /* border: 2px solid rgb(255, 13, 0); */
    width: 545px;
    height: 265px;
  }
  
  .spn {
    font-size: 10px;
    padding-bottom: 10px;
  }
  
  /* projects info starts here  */
  
  div .projects {
    margin-top: 20px;
    /* border: 2px solid rgb(255, 13, 0); */
    width: 545px;
    height: 205px;
  }
  
  .spn {
    font-size: 10px;
    padding-bottom: 10px;
  }
  
  /* now here right side details block properties  */
  
  .detailsblock .details {
    /* border: 2px solid red; */
    /* position: relative; */
    top: 130px;
    height: 112px;
    width: 145px;
  }
  
  .details .detailh6 {
    color: white;
    margin-left: 15px;
    font-size: 10px;
    font-weight: lighter;
  }
  
  /* skill block here  */
  
  .skillblock .details {
    /* border: 2px solid red; */
    position: relative;
    left: 207px;
    top: -832px;
    height: 160px;
    width: 145px;
  }
  .relativeblock {
  }
  
  @media screen and (max-width: 1400px) {
    body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    body .rightcontainer .detailsblock {
      width: 100vw;
      height: 100vh;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
    }
  }
  .right {
    display: flex;
    height: 1048px;
    /* flex-direction: column; */
  }
  .left {
    padding: 5rem;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
  }
  
  @media screen and (max-width: 800px) {
    hr {
      display: none;
    }
    .maincontainer {
      flex-direction: column;
    }
    .right .skillblock {
      padding: 2rem;
    }
  
    .left {
      display: flex;
      justify-content: space-between;
    }
  
    .downloadbtn {
      left: 100px;
    }
    .right {
      width: 100vw;
    }
    .rightcontainer {
      width: 70%;
      position: static;
      background-color: white;
    }
  
    .rightcontainer * {
      max-width: 100%;
    }
  
    .rightcontainer * {
      position: static;
    }
  
    .profile {
      height: auto;
    }
  
    .expereince {
      height: 300px !important;
    }
  
    .rightcontainer .block {
      position: static;
    }
    .imgblock {
      width: 100% !important;
    }
  
    .imgblock img {
      right: -60% !important;
    }
  
    .education {
      height: 293px !important;
    }
  
    .relativeblock {
      position: relative;
      left: -200px;
      top: -100px;
    }
  
    .skillblock .details {
      left: 169px;
    }
  }
  
  @media screen and (max-width: 650px) {
    .rightcontainer {
      width: 80%;
    }
    .profile {
      height: 100px !important;
    }
    .expereince {
      height: 350px !important;
    }
  
    .education {
      height: 350px !important;
    }
  
    .detailsblock {
      height: 1300px !important;
    }
    .rightcontainer {
      height: 1300px !important;
    }
  }
  
  @media screen and (max-width: 400px) {
    .rightcontainer {
      width: 80%;
    }
  
    .profile {
      height: 110px !important;
    }
  
    .expereince {
      height: 360px !important;
    }
  
    .education {
      height: 360px !important;
    }
  
    .right {
      background-color: white !important;
    }
  }
  