*{
    margin: 0;
    padding: 0;
}
.maincontainer{
    background: #f0f2f5;
    height: 80vh;
    padding-bottom: 112px;
    padding-top: 72px;
}
.container {
    /* border: 2px solid; */
    height: 70vh;
    width: 980px;
    margin: 0 auto;
    padding: 20px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 45px;
}
.imgdiv{
    /* border: 2px solid; */
    height: 40vh;
    width: 490px;
    margin: 45px 10px;
}
.imgdiv img{
    width: 350px;
    position: relative;
    top: 0px;
    right: 44px;
}
h2{
    position: relative;
    bottom: 20px;
    right: 6px;
}
.aside{
    /* border: 2px solid; */
    height: 70vh;
    width: 400px;
}
.aside .loginpage{
    width: 397px;
    /* border: 2px solid; */
    height: 53vh;
    top: 75px;
    position: relative;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
form{
    margin: 10px auto;
}
.form input{
    width: 335px;
    padding: 19px;
    margin: 5px 10px;
    font-size: larger;
    border-radius: 5px;
    border: .1px solid rgb(197, 197, 197);
}
button{
    margin: 10px;
    background-color: #1877f2;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 0 16px;
    width: 377px;
    color: white;
    font-size: x-large;
    cursor: pointer;
}
button:hover{
    background-color: #0a6ef0;
}
a{
    display: flex;
    justify-content: center;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.hr{
    width: 375px;
    margin: 20px auto;
}
.btn2{
    display: flex;
    margin: 40px auto;
    background-color: #42b72a;
    border: none;
    border-radius: 6px;
    line-height: 48px;
    padding: 2px 0px;
    width: 230px;
    color: white;
    font-size: x-large;
    cursor: pointer;
    justify-content: center;
}
.btn2:hover{
    background-color: #3a9727;
}
footer{
    height: 25vh;
}