*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
}
.row{
    display: flex;
    justify-content: space-between;
}
.box{
    width: 150px;
    height: 150px;
    background-color: red;
    border: 2px solid black;
    
}